.user-card {
    width: 400px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.user-card img {
  border-radius: 50%;
  margin-right: 15px;
  width: 120px;
}

.user-card p {
  margin: 5px 0;
  }